.queryForm {
  min-width: 320px;
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 2em;
}

.queryForm input {
  padding: 0.75em 1.5em;
  border: 3px solid white;
  border-radius: 50px;
  outline: none;
}

.queryForm input:focus {
  border: 3px solid midnightblue;
}

.queryForm button {
  all: unset;
  background: linear-gradient(to right, hotpink, hsl(330, 100%, 61%));
  padding: 0.75em 1.5em;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
}

.queryForm button:hover {
  opacity: 0.75;
}

.result {
  background: rgba(255, 255, 255, 0.2);
  width: 90%;
  text-align: center;
  padding: 1em;
  border-radius: 10px;
}
.result h2 {
  color: white;
}

.result .text {
  margin-top: 1em;
  color: white;
  font-size: 3em;
}
