.top {
  width: 100%;
  background: linear-gradient(90deg, hotpink, hsl(269, 64%, 47%));
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top h1 {
  color: white;
}
